.navbar-nav img{
    height: 50px;
}

.landing-page {
  background-image: url('../img/Beberapa\ moment\ Pictografest\ 13\ Juni\ 2025\ 📸Sedikit\ chaos\,\ banyak\ tawa\,\ dan\ penuh\ rasa\ bangga.I\ \(4\).webp');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 450px;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* abu-abu gelap transparan */
  z-index: 1;
}

.landing-page .container-fluid {
  position: relative;
  z-index: 2; /* supaya isi tidak tertutup overlay */
}

.picto-question {
  background-color: #FFEB3B;
  display: inline-block;
  padding: 0.2em 0.6em;
  color: #1a1a1a; /* teks hitam di atas kuning */
  font-weight: bold;
}
